# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# Data files
*.csv
*.tsv
*.json
*.xls
*.xlsx
*.db
*.sqlite

# Logs
*.log

# Backup files
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db